@page "/"


<section class="section">
    <h3 class="subtitle">Opening Files in the Browser with Blazor</h3>

    This site provides examples of opening files and images in the web browser and then loading them into a .NET process running inside the browser.
    The site runs on <a href="https://blazor.net" target="_blank">Blazor Web Assembly</a> and uses a file access component called
    <a href="https://github.com/jburman/W8lessLabs.Blazor.LocalFiles" target="_blank" class="ml-md-auto">W8lessLabs.Blazor.LocalFiles</a>
</section>