@inject NavigationManager Nav
@inject ViewState ViewState 

<div class="nav-menu tabs is-large is-fullwidth">
    <ul>
        <Tab View="/" Icon="oi-home" TabSelected="TabeSelectedHandler">Home</Tab>
        <Tab View="file" Icon="oi-file" TabSelected="TabeSelectedHandler">Load File</Tab>
        <Tab View="image" Icon="oi-image" TabSelected="TabeSelectedHandler">Load Image</Tab>
        <Tab View="filelist" Icon="oi-list" TabSelected="TabeSelectedHandler">File List</Tab>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    string currentView = string.Empty;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void TabeSelectedHandler(string view) =>
        ViewState.CurrentView = view;
}
