@inject ViewState ViewState
@inject NavigationManager Nav

<div class="nav-menu tabs is-large is-fullwidth">
    <ul>
        <Tab View="" Icon="oi-home" TabSelected="TabSelectedHandler">Home</Tab>
        <Tab View="file" Icon="oi-file" TabSelected="TabSelectedHandler">Load File</Tab>
        <Tab View="image" Icon="oi-image" TabSelected="TabSelectedHandler">Load Image</Tab>
        <Tab View="filelist" Icon="oi-list" TabSelected="TabSelectedHandler">File List</Tab>
    </ul>
</div>

@functions {
    void TabSelectedHandler(string view) =>
        ViewState.CurrentView = view;

    protected override void OnInitialized()
    {
        ViewState.CurrentView = Nav.Uri switch
        {
            _ when Nav.Uri.EndsWith('/') => string.Empty,
            _ => (new Uri(Nav.Uri)).Segments[^1]
        };
    }
}
